/* common.css */
:root {
  --main-font-family: Arial, sans-serif;
  --main-color: #333;
  --main-background: #f6f6f6;
  --padding: 20px;
  --font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  color: var(--main-color);
  padding: var(--padding);
  font-size: var(--font-size);
  margin: 0;
}
